@model List<ModelClient>
@{
    ViewData["Title"] = "ListClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Clientes</h1>
<div class="card">

    <div class="card-header">
        Agregar nuevo cliente
    </div>
    <div class="card-body">
        <a asp-controller="Clients" asp-action="SaveClient" class="btn btn-success">Crear nuevo cliente</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Población</th>
            <th scope="col">Teléfono</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.nombre</td>
            <td>@item.direccion</td>
            <td>@item.poblacion</td>
            <td>@item.telefono</td>
            <td>
                <a asp-controller="Clients" asp-action="EditClient" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>

            </td>
            <td>
                <a asp-controller="Clients" asp-action="DeleteClient" asp-route-id="@item.Id"  class="btn btn-danger">Eliminar</a>

            </td>
        </tr>
        }
    </tbody>
</table>